@font-face
{
    font-family: 'Avenir Next';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Avenir Next/AvenirNextCyr-Regular.ttf');
}
@font-face
{
    font-family: 'Avenir Next Medium';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Avenir Next/AvenirNextCyr-Medium.ttf');
}
@font-face
{
    font-family: 'Avenir Next';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/Avenir Next/AvenirNextCyr-Bold.ttf');
}
